body {
    background-image: url("/static/img/IMG_20220628_212729.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    color: white;
}

.outer {
    text-align: center;
}

.heading {
    display: inline-block;
    background-color: aliceblue;
    color: black;
}

h1, h2 {
    text-align: center;
}

ol {
    color: black;
    font-size: 2em;
}
.sunset {
    text-align: center;
}
img {
    
    max-width: 300px;
}

p {
    font-style: italic;
    text-align: center;
    margin: 0;

}

.end {
    text-align: end;
}
